@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.main{
  width: 100% !important;
  padding: 5px !important;
  background-color: #0c0c0c;
}
h1,h4{
  font-family: 'Archivo Black', sans-serif;;
}
p,pre{
  font-family: 'Yantramanav', sans-serif;;
}
/* basic styling  end*/



/* nav bar styling start */
.logo{
  cursor: pointer;
}
.navbar-toggler{
  background-color: white !important;
}
.navbar{
  height: 15vh;
}
.nav-link{
  color: white !important;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.nav-link::after{
  content: '';
  width: 0;
  height: 2px;
  background:rgb(21, 0, 250);
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-link:hover::after{
  width: 100%;
  color: rgb(21, 0, 250);
}
.nav-btn{
  width: 100%;
  border-color: rgb(21, 0, 250) !important;
  color: rgb(21, 0, 250) !important;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold !important;
  transition: ease 1s !important;
}
.nav-btn:hover{
  background-color: rgb(21, 0, 250) !important;
  color: white !important;
}
@media (max-width: 1000px){
  .navbar{
    z-index: 1;
  }
}
/* nav bar styling end  */


/* home page start  */
.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  overflow: hidden;
}
#text{
  position: relative;
  font-family: 'Poppins', sans-serif; 
  color: #353535;
  font-weight: 700;
  font-size: 15vw;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(0deg) skew(0deg);
}
#text:before{
  content: attr(data-text);
  position: absolute;
  top: 30px;
  left: -30px;
  color: #000;
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;
}
/* home page end */

/* about me start  */
.about-me{
  height: 90vh;
  padding-top: 10vh;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}
.about-me h6{
  font-size: 3vw;
  font-weight: 900;
  letter-spacing: 5px;
  color: gray;
  margin: 0 !important;
  line-height: 1;

}
.about-me h1{
  margin: 0 !important;
  font-size: 5vw;
  letter-spacing: 3px;
}
.about-me h4{
  margin: 0 !important;
  font-size: 3vw;
  color: gray;
}
.about-me p{
  margin: 0 !important;
  font-size: 2vw;
  color: gray;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1;
  padding-top: 2vh;
}
.about-me .social-media-icons i{
  margin: 0 !important;
  font-size: 2vw;
  padding: 2vh 3vw 2vh 0;
  cursor: pointer;
}
.social-media-icons a:first-child i{
  color: white;
}
.social-media-icons a:nth-child(2) i{
  color: red;
}
.social-media-icons a:nth-child(3) i{
  color: blue;
}
.social-media-icons a:nth-child(4) i{
  color: rgb(0, 102, 255);
}
.social-media-icons a:nth-child(5) i{
  color: aqua;
}
.social-media-icons a:nth-child(6) i{
  color: red;
}
.about-me .aboutme-btn1{
  font-size: 1.5vw;
  font-weight: bold !important;
  transition: ease 1s !important;
  border-color: rgb(21, 0, 250) !important;
  margin-right: 30px;
}
.about-me .aboutme-btn2{
  font-size: 1.5vw;
  font-weight: bold !important;
  transition: ease 1s !important;
  border-color: rgb(21, 0, 250) !important;
  margin-right: 30px;
}
.aboutme-btn1{
  background-color: rgb(21, 0, 250) !important;
  color: white !important;
}
.about-me .aboutme-btn1:hover{
  background-color: transparent !important;
  color: rgb(21, 0, 250) !important;
}
.aboutme-btn2{
  background-color: transparent !important;
  color: rgb(21, 0, 250) !important;
}
.about-me .aboutme-btn2:hover{
  background-color: rgb(21, 0, 250) !important;
  color: white !important;
}
.profile-img img{
  width: 100%;
}

